<ng-container >
  <h1 class="titre mb-5">Récapitulatif de commande</h1>
  <div *ngIf="message.length>0" class="col-lg-10 col-md-10 col-sm-11 col-11 mx-auto mb-5 text-center alert-border alert"[ngClass]="warning?'alert-danger':'alert-success'">
    {{message}}
  </div>

  <div class="col-lg-10 col-md-10 col-sm-11 col-11 m-auto">
    <table *ngIf="prods.length>0;else noProd" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Quantité</th>
          <th scope="col">Produit</th>
          <th scope="col">Prix</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of prods" class="my-auto">
          <td>{{prod.quantity}}</td>
          <td>
            {{prod.product.category.name}} {{prod.product.name}} <span *ngIf="prod.product.category.name!='Sauce' && prod.product.category.name!='Boissons'">{{prod.product.sauce.description}}</span>
          </td>
          <td>{{prod.quantity*prod.product.price}} €</td>
        </tr>
        <tr>
          <td></td>
          <td class="text-end fw-bold">Total:</td>
          <td class="text-start">{{total}} €</td>
        </tr>
      </tbody>
    </table>
    <ng-template #noProd>
      <p>Il n'y pa de produits. Vous pouvez commander <a routerLink="/liste-produits">ici</a></p>
    </ng-template>
  </div>
  <div class="col-lg-10 col-md-10 col-sm-11 col-11 m-auto d-flex justify-content-end mb-5">
    <button (click)="payer()" type="button" class="btn btn-secondary">Payer | {{total}}€</button>
  </div>
</ng-container>
