<ng-container >
  <h1 class="titre mb-5">Inscription</h1>
  <div *ngIf="message.length>0" class="col-lg-6 col-md-10 col-sm-11 col-11 border-alert mx-auto mb-5 text-center alert alert-danger">{{message}}</div>
  <form [formGroup]="form" class="mx-auto mb-5 d-flex flex-column  col-lg-6 col-md-10 col-sm-11 col-11 align-items-center justify-content-center  border-form" (ngSubmit)="submitIns()">
    <div class="d-flex col-lg-12 col-md-10 col-sm-11 col-11 align-items-center flex-wrap ">
      <div class="col-lg-3 col-md-3 col-sm-11 col-11 d-flex justify-content-start">
        <label for="email" class="form-label ml-5">Email</label>
      </div>
      <div class=" d-flex flex-column col-lg-3 col-md-3 col-sm-11 col-11">
        <div>
          <input type="text" formControlName="email"  id="email" class="form-control">
        </div>
        <div *ngIf="email?.invalid && email?.touched"class="text-danger text-center">
          <div *ngIf="email.errors?.['required']">
           <small> L'email est requis</small>
          </div>
          <div *ngIf="email.errors?.['pattern']">
            <small> Le format du mail est incorrect</small>
           </div>
       </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-11 col-11 d-flex justify-content-start">
        <label for="pass" class="form-label ml-5">Mot de passe</label>
      </div>
      <div class="d-flex flex-column col-lg-3 col-md-3 col-sm-11 col-11">
        <input type="password" formControlName="pass"  id="pass" class="form-control">
        <div *ngIf="pass?.invalid && pass?.touched"class="text-danger text-center">
          <div *ngIf="pass.errors?.['required']">
           <small> Le mot de passe est requis</small>
          </div>
          <div *ngIf="pass.errors?.['pattern']" class="text-start">
            <small> Au moins:
              <div>1 majuscule</div>
              <div>1 minuscule</div>
              <div>1 caractère spécial (#?!@$%^&*-) </div>
              <div> 8 caractères</div>
            </small>
           </div>
       </div>
      </div>

    </div>
    <div class="d-flex col-lg-12 col-md-10 mt-2 col-sm-11 col-11 align-items-center flex-wrap">
      <div class="col-lg-3 col-md-3 d-flex col-sm-11 col-11 justify-content-start">
        <label for="confPass" class="form-label ml-5">Confirmation du mot de passe</label>
      </div>
      <div class=" d-flex flex-column col-lg-3 col-md-3 col-sm-11 col-11">
        <input type="password" formControlName="confPass"  id="confPass" class="form-control">
        <div *ngIf="confPass?.invalid && confPass?.touched"class="text-danger text-center">
          <div *ngIf="confPass.errors?.['required']">
           <small> La confirmation est requise</small>
          </div>
          <div *ngIf="confPass.errors?.['pattern']" class="text-start">
            <small> Au moins:
              <div>1 majuscule</div>
              <div>1 minuscule</div>
              <div>1 caractère spécial (#?!@$%^&*-) </div>
              <div> 8 caractères</div>
            </small>
           </div>
       </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-11 col-11 d-flex justify-content-start">
        <label for="nom" class="form-label ml-5">Nom</label>
      </div>
      <div class="d-flex flex-column col-lg-3 col-md-3 col-sm-11 col-11">
        <input type="text" formControlName="nom"  id="nom" class="form-control">
        <div *ngIf="nom?.invalid && nom?.touched"class="text-danger text-center">
          <div *ngIf="nom.errors?.['required']">
           <small> Le nom est requis</small>
          </div>
       </div>
      </div>
    </div>
    <div class="d-flex col-lg-12 col-md-10 col-sm-11 col-11 mt-2 align-items-center flex-wrap">
      <div class="col-lg-3 col-md-3 col-sm-11 col-11 d-flex justify-content-start">
        <label for="prenom" class="form-label ml-5">Prénom</label>
      </div>
      <div class="d-flex flex-column col-lg-3 col-md-3 col-sm-11 col-11">
        <input type="text" formControlName="prenom"  id="prenom" class="form-control">
        <div *ngIf="prenom?.invalid && prenom?.touched"class="text-danger text-center">
          <div *ngIf="prenom.errors?.['required']">
           <small> Le prénom est requis</small>
          </div>
       </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-11 col-11 d-flex justify-content-start">
        <label for="address" class="form-label ml-5">Adresse</label>
      </div>
      <div class=" d-flex flex-column col-lg-3 col-md-3 col-sm-11 col-11">
        <input type="text" formControlName="address"  id="address" class="form-control">
        <div *ngIf="address?.invalid && address?.touched"class="text-danger text-center">
          <div *ngIf="address.errors?.['required']">
           <small> L'adresse est requise</small>
          </div>
       </div>
      </div>
    </div>
    <div class="d-flex col-lg-12 col-md-10 col-sm-11 col-11 mt-2 align-items-center flex-wrap">
      <div class="col-lg-3 col-md-3 col-sm-11 col-11 d-flex justify-content-start">
        <label for="zip" class="form-label ml-5">Code Postal</label>
      </div>
      <div class="d-flex flex-column col-lg-3 col-md-3 col-sm-11 col-11">
        <input type="text" formControlName="zip"  id="zip" class="form-control">
        <div *ngIf="zip?.invalid && zip?.touched"class="text-danger text-center">
          <div *ngIf="zip.errors?.['required']">
           <small> Le code postal est requis</small>
          </div>
       </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-11 col-11 d-flex justify-content-start">
        <label for="city" class="form-label ml-5">Ville</label>
      </div>
      <div class="d-flex flex-column col-lg-3 col-md-3 col-sm-11 col-11">
        <input type="text" formControlName="city"  id="city" class="form-control">
        <div *ngIf="city?.invalid && city?.touched"class="text-danger text-center">
          <div *ngIf="city.errors?.['required']">
           <small> La ville est requise</small>
          </div>
       </div>
      </div>
    </div>
    <div class="d-flex col-lg-12 col-md-8 col-sm-11 col-11 mt-2 align-items-center justify-content-end">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <button [disabled]="!form.valid" type="submit" class="btn btn-secondary">S'inscrire</button>
      </div>
    </div>
  </form>
</ng-container>

