<div *ngIf="!isAdminPage" id="navUser">
  <div class="image">
    Friterie du Village
  </div>
  <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-start nav-angular">
    <li [ngbNavItem]="1" [destroyOnHide]="true">
      <a [ngClass]="isActiveAccueilTab?'active':''" (click)="clickToggle(true,false,false,false,false,false)" ngbNavLink routerLink="/">Accueil</a>
    </li>
    <li [ngbNavItem]="2" [destroyOnHide]="true">
      <a [ngClass]="isActiveActuTab?'active':''" (click)="clickToggle(false,true,false,false,false,false)" ngbNavLink routerLink="actus">Actualites</a>
    </li>
    <li [ngbNavItem]="3" [destroyOnHide]="true">
      <a [ngClass]="isActiveHoraireTab?'active':''" (click)="clickToggle(false,false,true,false,false,false)" ngbNavLink routerLink="horaire">Horaire</a>
    </li>
    <li [ngbNavItem]="4" [destroyOnHide]="true">
      <a [ngClass]="isActiveMenuTab?'active':''" (click)="clickToggle(false,false,false,true,false,false)" ngbNavLink routerLink="menu">Menu</a>
    </li>
    <li [ngbNavItem]="5" *ngIf="!isLog" ngbDropdown  [destroyOnHide]="true" >
      <a class="nav-link pointer"[ngClass]="isActiveConnexionTab?'active':''" (click) ="clickToggle(false,false,false,false,true,false)" ngbDropdownToggle>Connexion/Inscription</a>
      <ng-template ngbNavContent>
      </ng-template>
      <div ngbDropdownMenu>
        <button  ngbNavLink ngbDropdownItem routerLink="connexion">Connexion</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem routerLink="inscription">Inscription</button>
      </div>
    </li>
    <li [ngbNavItem]="6" *ngIf="isLog" ngbDropdown class="nav-item">
      <a class="nav-link pointer" [ngClass]="isActiveAccountTab?'active':''" (click)="clickToggle(false,false,false,false,false,true)" ngbDropdownToggle>Mon Compte</a>
      <div ngbDropdownMenu>
        <button ngbDropdownItem routerLink="mon-compte">Mes Informations personnelles</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem routerLink="mon-panier">Mon panier</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem routerLink="historique-commande">Historique de commande</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem routerLink="liste-produits">Commander</button>
        <div *ngIf="role=='ROLE_ADMIN'" class="dropdown-divider"></div>
        <button *ngIf="role=='ROLE_ADMIN'" ngbDropdownItem routerLink="admin">Panel Admin</button>
        <div class="dropdown-divider"></div>
        <button ngbDropdownItem (click)="logout()">Deconnexion</button>
      </div>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<div *ngIf="isAdminPage" class="navAdmin">
  <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
    <a class="navbar-brand mx-4" href="#">Friterie du Village</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'collapse':collapsed,'navbar-collapse':true}">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropActus()">
            Actualités
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" [ngClass]="{'show':collapsedDropActus}">
            <a class="dropdown-item" [routerLink]="['','admin','liste-actus']">Listes Actualités</a>
            <a class="dropdown-item" [routerLink]="['','admin','ajout-actu']">Ajout</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropProduct()">
            Produits
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" [ngClass]="{'show':collapsedDropProduct}">
            <a class="dropdown-item" [routerLink]="['','admin']">Listes Produits</a>
            <a class="dropdown-item" [routerLink]="['','admin','ajout-produit']">Ajout</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleDropCategory()">
            Catégories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" [ngClass]="{'show':collapsedDropCategory}">
            <a class="dropdown-item" [routerLink]="['','admin','liste-categories']">Listes Catégories</a>
            <a class="dropdown-item" [routerLink]="['','admin','ajout-categorie']">Ajout</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['','admin','liste-users']">Utilisateur</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

