.image
{
 background-image: url("../../../../assets/img/banniere.jpg");
 height: 30vh;
 font-family: "Ballet Harmony";
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 120px;
 color:#FA9702;
 text-shadow: black 4px 4px 2px;
 background-size:cover;
 background-position: 0%;
}

@media (max-width: 576px){
  .image{
    font-size: 60px;
  }
}
@media(min-width:577px) and (max-width:992px){
  .image{
    font-size: 80px;
  }
}

.nav-angular{
  background-color: #6F6767;
}
#navUser a
{
  color: #FA9702;
  font-family: "Ballet Harmony";
  font-size: 25px;
}
a:hover{
  color: white;
}
button{
  font-family: "Ballet Harmony";
  font-size: 25px;
}
.navAdmin{
  font-family: calibri;
}
.bg-blue{
  background-color: rgb(10, 31, 69);
}
.pointer{
  cursor: pointer;
}
