<div class="mb-5">
  <h1 class="titre">Historique de commande</h1>
</div>
<div *ngIf="message.length>0" class="col-lg-6 col-md-10 col-sm-11 col-11 mx-auto mb-5 text-center alert"[ngClass]="warning?'alert-danger':'alert-success'">
  {{message}}
</div>
<div>
  <div *ngFor="let order of orders" class="mb-2 col-lg-6 col-md-10 col-sm-11 col-11 mx-auto mb-5 d-flex flex-column align-items-start">
    <div class=" col-12 d-flex justify-content-between flex-wrap mb-2">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h5>n° {{order.numOrder}}</h5>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 text-end">
        <h5>le {{order.date|date: 'dd/MM/yyyy à HH:mm'}}</h5>
      </div>
    </div>
    <div class="mb-5">
      statut de la commande: <b>{{order.status|status}}</b>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Quantité</th>
          <th>Nom du produit</th>
          <th>Sous-total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ol of order.orderlines">
          <td>{{ol.quantity}}</td>
          <td>{{ol.nameProduct}}</td>
          <td>{{ol.quantity*ol.price}} €</td>
        </tr>
      </tbody>
        <tfoot>
          <tr>
            <td> </td>
            <td class="text-end"><b>Total:</b> </td>
            <td class="fw-bold">{{getTotalOrder(order)}} €</td>
          </tr>
        </tfoot>
    </table>
  </div>
</div>

