<ng-container >
  <h1 class="titre mb-5">Commander</h1>

  <div *ngIf="message.length>0" class="col-lg-10 col-md-10 col-sm-11 col-11 mx-auto mb-5 text-center alert"[ngClass]="warning?'alert-danger':'alert-success'">
    {{message}}
  </div>

  <div class="col-lg-10 col-md-10 col-sm-11 col-11 m-auto">
    <table *ngIf="products" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Catégorie</th>
          <th scope="col">Nom</th>
          <th scope="col">Description</th>
          <th scope="col">Prix</th>
          <th scope="col">Stock</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of prods">
          <td>{{prod.category.name}}</td>
          <td scope="row">{{ prod.name }}</td>
          <td>
            {{ prod.description }}
          </td>
          <td>{{ prod.price}} €</td>
          <td>{{ prod.stock}}</td>
          <td>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title"><span *ngIf="productSelect.category.name!='Boissons' && productSelect.category.name!='Sauce';else noSauce" >Sauce et quantité</span><ng-template #noSauce>Quantité</ng-template></h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <form  *ngIf="productSelect" [formGroup]="form" (ngSubmit)="ajouter(modal)">
                <div class="modal-body">
                  <label *ngIf="productSelect.category.name!='Boissons' && productSelect.category.name!='Sauce'" for="sauce" class="form-label">Sauce</label>
                  <select *ngIf="productSelect.category.name!='Boissons' && productSelect.category.name!='Sauce'" formControlName="sauce" class="form-select" id="sauce">
                    <option *ngFor="let sauce of sauces" [ngValue]="sauce.id" ngSe>{{sauce.name}}</option>
                  </select>
                  <label for="quantity" class="form-label">Quantité</label>
                  <input type="number" formControlName="quantity" id="quantity" class="form-control">
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark">Ajouter</button>
              </div>
              </form>
            </ng-template>
            <a class="btn btn-secondary"(click)="open(content,prod.id)">Ajouter</a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshProducts()">
      </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProducts()">
      <option [ngValue]="5">5 produits par page</option>
      <option [ngValue]="10">10 produits par page</option>
      <option [ngValue]="20">20 produits par page</option>
    </select>
    </div>
  </div>
</ng-container>
