<div *ngIf="!warning" class="col-lg-10 col-md-10 col-sm-11 col-11 mx-auto my-5 text-center alert-border alert alert-danger">
  <div class="mb-5">
    <h1 class="titre">Annulation de la commande</h1>
  </div>
  <p>La commande n° <b>{{order.numOrder}}</b> a bien été annulée, pour pouvoir commander cliquer <a [routerLink]="['','liste-produits']">ICI</a></p>
  </div>
