<div>
  <h1 class="erreur">404</h1>
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-center mr-2"> La page que vous essayez de chercher n'existe pas..</div>
    <div>
      <a (click)="goBack()"><i class="bi bi-box-arrow-left fs-2 link"></i></a>
    </div>
  </div>
</div>



