<ng-container >
  <h1 class="titre mb-5">Modification du mot de passe</h1>
  <div *ngIf="message.length>0" class="d-flex col-lg-6 align-items-center justify-content-center mx-auto mb-5 alert"[ngClass]="warning?'alert-danger':'alert-success'">
    {{message}}
  </div>
  <form [formGroup]="form" (ngSubmit)="reset()">
    <div class="d-flex col-lg-6 align-items-center justify-content-center m-auto">

      <div class="col-lg-6 mr-5">
        <input type="text" placeholder="Entrer Votre adresse mail" formControlName="email" class="form-control">
      </div>
      <div class="col-lg-4">
        <button [disabled]="!form.valid" type="submit" class="btn btn-secondary">Réinitialiser le mot de passe</button>
      </div>
    </div>
    <div *ngIf="email?.invalid && email?.touched"class="text-danger text-center">
      <div *ngIf="email.errors?.['required']">
       <small> L'email est requis</small>
      </div>
      <div *ngIf="email.errors?.['pattern']">
        <small> Le format du mail est incorrect</small>
       </div>
   </div>
  </form>
</ng-container>
