.fit-content
{
  width: fit-content;
}
.panneau{
  background-color: rgba(111, 103, 103, 0.5);
  margin: 1rem;
}
@media (max-width:576px){
  .sm-none
  {
    display: none !important;
  }
}
@media (min-width:577px) and (max-width:992px){
  .md-none
  {
    display: none !important;
  }
}
@media (min-width:993px){
  .lg-none
  {
    display: none !important;
  }
}
