<ng-container >
  <div class="text-center">
    <h1 class="titre mb-5">Actualités</h1>
  </div>
</ng-container>
<div class="sm-none md-none">
  <ngb-carousel *ngIf="actus" class="fit-content m-auto">
    <ng-template *ngFor="let actu of actusdiv3;let i=index" ngbSlide>
      <div class="d-flex">
        <div class="card panneau" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center mb-4"><b>{{actus[i*3].title}}</b></h5>
            <p class="card-text text-center mb-4">{{actus[i*3].description}}</p>
          </div>
        </div>
        <div class="card panneau" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center mb-4"><b>{{actus[i*3+1].title}}</b></h5>
            <p class="card-text text-center mb-4">{{actus[i*3+1].description}}</p>
          </div>
        </div>
        <div class="card panneau" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center mb-4"><b>{{actus[i*3+2].title}}</b></h5>
            <p class="card-text text-center mb-4">{{actus[i*3+2].description}}</p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template *ngIf="(actus.length-3*actusdiv3.length)>0" ngbSlide>
      <div class="d-flex">
        <div *ngIf="(actus.length-3*actusdiv3.length)>1" class="card panneau" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center mb-4"><b>{{actus[actus.length-2].title}}</b></h5>
            <p class="card-text text-center mb-4">{{actus[actus.length-2].description}}</p>
          </div>
        </div>
        <div *ngIf="(actus.length-3*actusdiv3.length)>0" class="card panneau" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center mb-4"><b>{{actus[actus.length-1].title}}</b></h5>
            <p class="card-text text-center mb-4">{{actus[actus.length-1].description}}</p>
          </div>
        </div>
        </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="sm-none lg-none">
  <ngb-carousel *ngIf="actus" class="fit-content m-auto">
    <ng-template *ngFor="let actu of actusdiv2;let i=index" ngbSlide>
      <div class="d-flex">
        <div class="card panneau" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center mb-4"><b>{{actus[i*2].title}}</b></h5>
            <p class="card-text text-center mb-4">{{actus[i*2].description}}</p>
          </div>
        </div>
        <div class="card panneau" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center mb-4"><b>{{actus[i*2+1].title}}</b></h5>
            <p class="card-text text-center mb-4">{{actus[i*2+1].description}}</p>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template *ngIf="(actus.length-2*actusdiv2.length)>0" ngbSlide>
      <div class="d-flex">
        <div class="card panneau" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center mb-4"><b>{{actus[actus.length-1].title}}</b></h5>
            <p class="card-text text-center mb-4">{{actus[actus.length-1].description}}</p>
          </div>
        </div>
        </div>
    </ng-template>
  </ngb-carousel>
</div>
<div class="lg-none md-none">
  <ngb-carousel *ngIf="actus" class="fit-content m-auto">
    <ng-template *ngFor="let actu of actus" ngbSlide>
      <div class="d-flex">
        <div class="card panneau" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title text-center mb-4"><b>{{actu.title}}</b></h5>
            <p class="card-text text-center mb-4">{{actu.description}}</p>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>


