<h1 class="text-center m-5">Modifier une Actualité</h1>
<div *ngIf="message.length>0" class="col-lg-6 col-md-10 col-sm-11 col-11 mx-auto mb-5 text-center"[ngClass]="warning?'alert alert-danger':'alert alert-success'">
  {{message}}
</div>
<div class="col-lg-6 col-md-10 col-sm-11 col-11 m-auto">
  <form [formGroup]="form" (submit)="modif()">
    <label for="title" class="form-label">Titre:</label>
    <input type="text" id="title" formControlName="title" class="form-control">
    <label for="description" class="form-label">Description de l'actu:</label>
     <textarea formControlName="description" class="form-control"></textarea>
     <fieldset>
      <label>Doit -elle être affichée?</label>
      <div class="my-2">
        <input type="radio" formControlName="isDisplay" id="oui"value="true" class="m-2">
        <label for="oui">Oui</label>
      </div>
      <div>
        <input type="radio" formControlName="isDisplay" id="non"value="false" class="m-2">
        <label for="non">Non</label>
      </div>
     </fieldset>
     <div class="d-flex justify-content-between align-items-center">
      <button type="submit" class="btn btn-primary my-3">Modifier</button>
      <a [routerLink]="['','admin','liste-actus']"><i class="bi bi-box-arrow-left fs-2"></i></a>
     </div>
  </form>
</div>
