<ng-container >
  <h1 class="text-center m-5">Liste des Catégories</h1>
  <div *ngIf="message.length>0" class="col-lg-6 col-md-10 col-sm-11 col-11 mx-auto mb-5 text-center alert"[ngClass]="warning?'alert-danger':'alert-success'">
    {{message}}
  </div>
<div class="col-lg-6 col-md-10 col-sm-11 col-11 m-auto">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cat of categories" class="my-auto">
        <td>{{cat.id}}</td>
        <td>{{cat.name}}</td>
        <td>
          <a class="btn btn-danger mr-2" (click)="open(content,cat.id)"><i class="bi bi-trash3"></i></a>
          <a class="btn btn-warning" [routerLink]="['','admin','modif-categorie',cat.id]"><i class="bi bi-pencil-square"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Confirmation suppression</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Etes vous sur de vouloir supprimer cette catégorie?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="supprCat(modal)">Oui</button>
  </div>
</ng-template>
</ng-container>
