<h1 class="text-center m-5">Modifier un Produit</h1>
<div *ngIf="message.length>0" class="col-lg-6 col-md-10 col-sm-11 col-11 mx-auto mb-5 text-center alert"[ngClass]="warning?'alert-danger':'alert-success'">
  {{message}}
</div>
<div class="col-lg-6 col-md-10 col-sm-11 col-11 m-auto">
  <form [formGroup]="form" (submit)="modif()">
    <label for="name" class="form-label">Nom du Produit:</label>
    <input type="text" id="name" formControlName="name" class="form-control">
    <label for="description" class="form-label">Description du Produit:</label>
     <textarea formControlName="description" class="form-control"></textarea>
     <div class="d-flex">
        <div class="col-lg-6">
          <label for="price" class="form-label">Prix du Produit:</label>
        </div>
        <div class="col-lg-6">
          <label for="stock" class="form-label">Stock:</label>
        </div>
     </div>
     <div class="d-flex">
      <div class="col-lg-6">
        <div class="col-lg-4">
          <input type="number" id="price" formControlName="price" class="form-control">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="col-lg-4">
          <input type="number" id="stock" formControlName="stock" class="form-control col-lg-4">
        </div>
      </div>
     </div>
     <label for="category" class="form-label">Catégorie</label>
     <select formControlName="category" id="category" class="form-select">
      <option *ngFor="let cat of categories" [ngValue]="cat.id">{{cat.name}}</option>

     </select>
     <div class="d-flex align-items-center justify-content-between">
      <button type="submit" class="btn btn-primary my-3"[disabled]="!form.valid">Modifier</button>
      <a [routerLink]="['','admin']"><i class="bi bi-box-arrow-left fs-2"></i></a>
     </div>
  </form>
</div>
