<ng-container >
  <h1 class="titre mb-5">Mon panier</h1>
  <div *ngIf="message.length>0" class="col-lg-10 col-md-10 col-sm-11 col-11 mx-auto mb-5 text-center alert"[ngClass]="warning?'alert-danger':'alert-success'">
    {{message}}
  </div>
  <div *ngIf="prods.length>0;else noProd" class="col-lg-10 col-md-10 col-sm-11 col-11 m-auto">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Action</th>
          <th scope="col">Quantité</th>
          <th scope="col">Produit</th>
          <th scope="col">Prix</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of prods" class="my-auto">
          <td><a class="btn btn-danger" (click)="open(content,prod.product.id,prod.product.sauce.id)"><i class="bi bi-trash3"></i></a></td>
          <td>
            <div class="d-flex">
              <div class="mr-2">
                <a (click)="removeQuantity(prod.product.id,prod.product.sauce.id)" class="icon-button"><i class="bi bi-dash-circle"></i></a>
              </div>
              {{prod.quantity}}
              <div class="ml-2">
                <a (click)="addQuantity(prod.product.id,prod.product.sauce.id)" class="icon-button"><i class="bi bi-plus-circle"></i></a>
              </div>
            </div>

          </td>
          <td>
            {{prod.product.category.name}} {{prod.product.name}} <span *ngIf="prod.product.category.name!='Sauce' && prod.product.category.name!='Boissons'">{{prod.product.sauce.description}}</span>
          </td>
          <td>{{prod.product.price*prod.quantity}} €</td>

        </tr>
        <tr>
          <td></td>
          <td></td>
          <td class="text-end fw-bold">Total:</td>
          <td class="text-start">{{total}} €</td>
        </tr>
      </tbody>
    </table>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmation suppression</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body">
        <p>Etes vous sur de vouloir supprimer ce produit de votre panier?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="supprProdToCart(modal)">Oui</button>
      </div>
    </ng-template>
    <div class="m-auto d-flex justify-content-end mb-5">
      <button type="button" [routerLink]="['','recap-commande']" class="btn btn-secondary">Valider la commande</button>
    </div>
  </div>
  <ng-template #noProd>
    <p class="col-lg-10 col-md-10 col-sm-11 col-11 m-auto">
      Votre panier est vide. Pour commander cliquer <a routerLink="/liste-produits">ici</a>
    </p>
  </ng-template>


</ng-container>
