<h1 class="text-center m-5">Liste des Produits</h1>
<div *ngIf="message.length>0" class="col-lg-10 col-md-10 col-sm-11 col-11 mx-auto mb-5 text-center alert"[ngClass]="warning?'alert-danger':'alert-success'">
  {{message}}
</div>
<div class="col-lg-10 col-md-10 col-sm-11 col-11 m-auto">
  <table  *ngIf="products" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Catégorie</th>
        <th scope="col">Nom</th>
        <th scope="col">Description</th>
        <th scope="col">Prix</th>
        <th scope="col">Stock</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of prods">
        <td scope="row">{{ prod.category.name }}</td>
        <td>
          {{ prod.name }}
        </td>
        <td>{{ prod.description}}</td>
        <td>{{ prod.price }}</td>
        <td>{{ prod.stock }}</td>
        <td>
          <a class="btn btn-warning m-1" [routerLink]="['','admin','modif-produit',prod.id]"><i class="bi bi-pencil-square"></i></a>
          <a class="btn btn-danger m-1" (click)="open(content,prod.id)"><i class="bi bi-trash3"></i></a>
          <a class="btn btn-primary m-1" [routerLink]="['','admin','produit',prod.id]"><i class="bi bi-search"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshProducts()"
    >
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProducts()">
      <option [ngValue]="5">5 produits par page</option>
      <option [ngValue]="10">10 produits par page</option>
      <option [ngValue]="20">20 produits par page</option>
    </select>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirmation suppression</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Etes vous sur de vouloir supprimer ce produit?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="supprProduit(modal)">Oui</button>
    </div>
  </ng-template>
</div>
