<ng-container >
  <h1 class="text-center m-5">Liste des Actualités</h1>
  <div *ngIf="message.length>0" class="col-lg-6 col-md-10 col-sm-11 col-11 mx-auto mb-5 text-center"[ngClass]="warning?'alert alert-danger':'alert alert-success'">
    {{message}}
  </div>
  <div class="col-lg-7 col-md-10 col-sm-11 col-11 m-auto">
    <table *ngIf="actus" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Titre</th>
          <th scope="col">Description</th>
          <th scope="col">Est affiché?</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let actu of actus" class="my-auto">
          <td>{{actu.title}}</td>
          <td>{{actu.description}}</td>
          <td class="text-center">{{actu.isDisplay|display}}</td>
          <td class="col-lg-3 col-md-3 col-sm-3 col-3 text-center">
            <a class="btn btn-danger mr-2" (click)="open(content,actu.id)"><i class="bi bi-trash3"></i></a>
            <a class="btn btn-warning" [routerLink]="['','admin','modif-actu',actu.id]"><i class="bi bi-pencil-square"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirmation suppression</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Etes vous sur de vouloir supprimer cette actualité?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="supprActu(modal)">Oui</button>
    </div>
  </ng-template>
</ng-container>

