<ng-container>
<h1 class="titre mb-5">Mon Compte</h1>
<div class="d-flex col-lg-6 col-md-8 col-sm-11 col-11 flex-wrap justify-content-center border-form mx-auto mb-5">
  <div *ngIf="user" class="d-flex flex-column col-lg-6 col-md-6 col-sm-11 col-12 align-items-small-center ">
    <div class="mb-2">{{user.lastName}}</div>
    <div class="mb-2">{{user.firstName}}</div>
    <div class="mb-5">{{user.email}}</div>
  </div>
  <div *ngIf="user" class="d-flex flex-column col-lg-6 col-md-6 col-sm-11 col-12 align-items-small-center">
    <div class="fw-bold">Adresse:</div>
    <div>{{user.address.street}}</div>
    <div>{{user.address.zip}} {{user.address.city}}</div>
  </div>
</div>
<div class="d-flex col-lg-6 col-md-8 col-sm-11 col-11 flex-wrap border-form mx-auto mb-5">
  <div class="d-flex flex-column col-lg-6 col-md-6 col-sm-11 col-12">
    <div class="mb-2"><a [routerLink]="['','modif-mot-de-passe']">Modifier mon mot de passe</a></div>
    <div class="mb-2"><a [routerLink]="['','modif-adresse']">Modifier mon adresse / Email </a></div>
  </div>
</div>
</ng-container>
