
<div *ngIf="!warning;else error" class="col-lg-10 col-md-10 col-sm-11 col-11 mx-auto my-5 text-center alert-border alert alert-success">
<div class="mb-5">
  <h1 class="titre">Validation de la commande</h1>
</div>
<p>La commande n° <b>{{order.numOrder}}</b> a bien été payée, vous pouvez la chercher dans 30 min à la friterie!</p>
</div>
<ng-template #error>
  <div class="col-lg-10 col-md-10 col-sm-11 col-11 mx-auto my-5 text-center alert-border alert-danger">
    <h1 class="titre">Erreur dans la mise à jour de la commande</h1>
    <p>La commande n° <b>{{order.numOrder}}</b> n'a pas été mise à jour , veuillez nous contacter</p>
    </div>
</ng-template>

