<h1 class="text-center m-5">Modifier une Catégorie</h1>
<div *ngIf="message.length>0" class="col-lg-6 col-md-10 col-sm-11 col-11 mx-auto mb-5 text-center alert"[ngClass]="warning?'alert-danger':'alert-success'">
  {{message}}
</div>
<div class="col-lg-6 col-md-10 col-sm-11 col-11 m-auto">
  <form [formGroup]="form" (submit)="modif()">
    <label for="name" class="form-label">Nom de la Catégorie:</label>
    <input type="text" id="name" formControlName="name" class="form-control">
    <div class="d-flex align-items-center justify-content-between">
      <button type="submit" class="btn btn-primary my-3">Modifier</button>
      <a [routerLink]="['','admin','liste-categories']"><i class="bi bi-box-arrow-left fs-2"></i></a>
    </div>
  </form>
</div>

