<ng-container >
  <h1 class="titre mb-5">Réinitialisation de mot de passe </h1>
  <div *ngIf="message.length>0" class="col-lg-6 col-md-10 col-sm-11 col-11 border-alert mb-5 mx-auto text-center"[ngClass]="warning?'alert alert-danger':'alert alert-success'">{{message}}</div>
  <form [formGroup]="form" class="mx-auto mb-5 d-flex flex-column  col-lg-6 col-md-10 col-sm-11 col-11 align-items-center justify-content-center  border-form" (ngSubmit)="modifMotDePasse()">
    <div class="d-flex col-lg-12 col-md-10 col-sm-11 col-11 align-items-center justify-content-center flex-wrap ">
      <div class="col-lg-3 col-md-3 col-sm-11 col-11 d-flex justify-content-start">
        <label for="email" class="form-label ml-5">Email</label>
      </div>
      <div class=" d-flex flex-column col-lg-6 col-md-3 col-sm-11 col-11">
        <div>
          <input type="text" formControlName="email"  id="email" class="form-control">
        </div>
        <div *ngIf="email?.invalid && email?.touched"class="text-danger text-center">
          <div *ngIf="email.errors?.['required']">
           <small> L'email est requis</small>
          </div>
          <div *ngIf="email.errors?.['pattern']">
            <small> Le format du mail est incorrect</small>
           </div>
       </div>
      </div>
    </div>
    <div class="d-flex col-lg-12 col-md-10 col-sm-11 col-11 mt-2 align-items-center justify-content-center flex-wrap">
      <div class="col-lg-3 col-md-3 col-sm-11 col-11 d-flex justify-content-start">
        <label for="pass" class="form-label ml-5">Nouveau Mot de passe</label>
      </div>
      <div class=" d-flex flex-column col-lg-6 col-md-3 col-sm-11 col-11">
        <input type="password" formControlName="pass"  id="pass" class="form-control">
        <div *ngIf="pass?.invalid && pass?.touched"class="text-danger text-center">
          <div *ngIf="pass.errors?.['required']">
           <small> Le mot de passe est requis</small>
          </div>
          <div *ngIf="pass.errors?.['pattern']" class="text-start">
            <small> Au moins:
              <div>1 majuscule</div>
              <div>1 minuscule</div>
              <div>1 caractère spécial (#?!@$%^&*-) </div>
              <div> 8 caractères</div>
            </small>
           </div>
       </div>
      </div>

    </div>
    <div class="d-flex col-lg-12 col-md-10 col-sm-11 col-11 mt-2 align-items-center justify-content-center flex-wrap">
      <div class="col-lg-3 col-md-3 col-sm-11 col-11 d-flex justify-content-start">
        <label for="confPass" class="form-label ml-5">Confirmation Mot de passe</label>
      </div>
      <div class="d-flex flex-column col-lg-6 col-md-3 col-sm-11 col-11 ">
        <input type="password" formControlName="confPass"  id="confPass" class="form-control">
        <div *ngIf="confPass?.invalid && confPass?.touched"class="text-danger text-center">
          <div *ngIf="confPass.errors?.['required']">
           <small> Le mot de passe est requis</small>
          </div>
          <div *ngIf="confPass.errors?.['pattern']" class="text-start">
            <small> Au moins:
              <div>1 majuscule</div>
              <div>1 minuscule</div>
              <div>1 caractère spécial (#?!@$%^&*-) </div>
              <div> 8 caractères</div>
            </small>
           </div>
       </div>
      </div>
    </div>
    <div class="d-flex col-lg-12 col-md-8 col-sm-11 col-11 mt-2 align-items-center justify-content-end">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12 d-flex justify-content-start">
        <div class="d-flex flex-column col-lg-6 col-md-3 col-sm-11 col-11 ">
          <button [disabled]="!form.valid" type="submit" class="btn btn-secondary">Modifier</button>
        </div>
      </div>
    </div>
  </form>
</ng-container>

