<ng-container >
  <h1 class="titre mb-5">Connexion</h1>
  <div *ngIf="message.length>0" class="m-auto d-flex flex-column align-items-center col-lg-5 col-md-10 col-sm-11 col-11 alert alert-danger border-alert mb-5">
    {{message}}
  </div>
  <form [formGroup]="form" class="m-auto d-flex flex-column align-items-center col-lg-5 col-md-10 col-sm-11 col-11 border-form" (ngSubmit)="submitCo()">
    <div class="d-flex col-lg-12 col-md-10 col-sm-11 col-11 align-items-center flex-wrap ">
      <div class="col-lg-6 col-md-6 col-sm-11 col-11 d-flex justify-content-start">
        <label for="email" class="form-label ml-5">Email</label>
      </div>
      <div class="d-flex flex-column col-lg-6 col-md-6 col-sm-11 col-11">
        <input type="text" formControlName="email"  id="email" class="form-control">
        <div *ngIf="email?.invalid && email?.touched"class="text-danger text-center">
          <div *ngIf="email.errors?.['required']">
           <small> L'Email est requis</small>
          </div>
          <div *ngIf="email.errors?.['pattern']">
            <small> Le format du mail est incorrect</small>
          </div>

       </div>
      </div>
    </div>
    <div class="d-flex col-lg-12 col-md-10 col-sm-11 col-11 mt-2 align-items-center flex-wrap ">
      <div class="col-lg-6 col-md-6 col-sm-11 col-11 d-flex justify-content-start">
        <label for="pass" class="form-label ml-5">Mot de passe</label>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-11 col-11">
        <input type="password" formControlName="pass"  id="pass" class="form-control">
        <div *ngIf="pass?.invalid && pass?.touched"class="text-danger text-center">
          <div *ngIf="pass.errors?.['required']">
           <small> Le mot de passe est requis</small>
          </div>
          <div *ngIf="pass.errors?.['pattern']" class="text-start">
            <small> Au moins:
              <div>1 majuscule</div>
              <div>1 minuscule</div>
              <div>1 caractère spécial (#?!@$%^&*-) </div>
              <div> 8 caractères</div>
            </small>
           </div>
       </div>
      </div>
    </div>
    <div class="d-flex col-lg-12 col-md-10 col-sm-11 col-11 mt-2 align-items-center justify-content-start">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <button type="submit" class="btn btn-secondary" [disabled]="!form.valid">Se connecter</button>
      </div>
    </div>
  </form>
  <div class= "mx-auto d-flex flex-column align-items-center col-lg-5 col-md-10 col-sm-11 col-11">
    <p class="m-5">Mot de passe oublié? Cliquer <a [routerLink]="['','modif-mot-de-passe']">ici</a></p>
  </div>
</ng-container>
