<ng-container class="col-10" >
  <h1 class="titre">Horaire</h1>
  <h6 class="sous-titre">sous réserve de modifications (voir actualités)</h6>
  <div class="d-flex justify-content-center align-items-center flex-wrap mt-5 horaire col-lg-6 col-md-10 col-sm-11 mx-auto mb-3">
    <div class="d-flex flex-column col-lg-4 col-md-3 col-sm-4 col-4 colonne align-items-center">
      <div class="invisible">Horaire </div>
      <div>LUNDI:</div>
      <div>MARDI:</div>
      <div>MERCREDI:</div>
      <div>JEUDI:</div>
      <div>VENDREDI:</div>
      <div>SAMEDI:</div>
      <div>DIMANCHE:</div>
    </div>
    <div class="d-flex flex-column col-lg-4 col-md-3 col-sm-4 col-4 colonne align-items-center">
      <div>MIDI</div>
      <div class="ferme">FERME</div>
      <div>12H-14H</div>
      <div class="ferme">FERME</div>
      <div>12H-14H</div>
      <div>12H-14H</div>
      <div>12H-14H</div>
      <div class="ferme">FERME</div>
    </div>
    <div class="d-flex flex-column col-lg-4 col-md-3 col-sm-4 col-4 colonne align-items-center">
      <div>SOIR</div>
      <div>19H-21H30</div>
      <div>19H-21H30</div>
      <div class="ferme">FERME</div>
      <div>19H-21H30</div>
      <div>19H-23H00</div>
      <div>19H-23H00</div>
      <div>18H-21H00</div>
    </div>
  </div>
</ng-container>
