/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@font-face {
  font-family: "Ballet_Harmony";
  src: url("../src/assets/polices/Ballet-Harmony.ttf") format("trueType");
}
body{
  font-weight: "calibri";
}
.titre
{
  text-align: center;
  margin-top: 2rem;
  font-style: italic;
}
.sous-titre{
  text-align: center;
  font-style: italic;
}
app-menu{
  background-color: rgb(21, 22,27);
}
.border-form
{
  padding: 2rem;
  box-shadow:  0px 0px 5px 2px grey;
  border-radius: 15px;
}
.border-alert
{
  padding: 1rem;
  box-shadow:  0px 0px 5px 2px grey;
  border-radius: 15px;
}
.fit-content{
  width: fit-content;
}
.mr-2{
  margin-right: 10px;
}
.back-icone:hover{
  cursor: pointer;
}
