<ng-container>
  <div class="text-center">
    <h1 class="titre mb-5">Menu</h1>
     <img src="../../assets/img/menu.jpg" class="col-11 menu">
  </div>
  <div class="col-11 text-center">Image de pikisuperstar sur Freepik</div>
</ng-container>
