
.presentation{
  font-size: 1.5rem;
  font-style: italic;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px){
  .presentation{
    font-size: 20px;
  }
}
@media(min-width:577px) and (max-width:992px){
  .presentation{
    font-size: 25px;
  }
}
@media(min-width:993px){
  .presentation{
    font-size: 30px;
  }
}
.pad{
  padding-right: 20px;
}
.image-accueil{
  border-radius: 15px;
  width: 75%;
  text-align: center;
}
