<ng-container >
  <h1 class="titre mb-5">Bienvenue à la Friterie du Village</h1>
  <div class="d-flex justify-content-center align-items-center flex-wrap mt-5">
    <div class="col-lg-4 col-md-5 col-sm-9 col-10 d-flex justify-content-center mb-5 pad">
      <img src="../../assets/img/accueil.jpg" class="image-accueil img-fluid" alt="Intérieur Friterie du Village">
    </div>
    <div class="col-lg-3 col-md-5 col-sm-9 col-10 presentation">
      Ouverte le 03 Janvier 2022, la Friterie du Village vous accueille avec le sourire et la volonté de vous satisfaire avec des produits de qualité.
    </div>
  </div>
</ng-container>
