<h1 class="text-center m-5">Détail du Produit</h1>
<div *ngIf="product" class="d-flex col-lg-6 col-md-10 col-sm-11 col-11 mx-auto flex-wrap">
  <div class="col-lg-6 col-md-6 col-sm-11 col-11">
    <p>{{product.name}}</p>
  <p>{{product.description}}</p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-11 col-11">
    <p>Prix : {{product.price}}€</p>
  <p>Stock: {{product.stock}} pièces</p>
  </div>
</div>
<div class="col-lg-6 col-md-10 col-sm-11 col-11 mx-auto">
  <a [routerLink]="['','admin']"><i class="bi bi-box-arrow-left fs-2"></i></a>
</div>
